/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
   line-height: 1.15;
   /* 1 */
   -webkit-text-size-adjust: 100%;
   /* 2 */   
}

body {
   margin: 0;
   overflow-x: hidden;
}

main {
   display: block;
}

h1 {
   font-size: 2em;
   margin: 0.67em 0;
}

hr {
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
   /* 1 */
   height: 0;
   /* 1 */
   overflow: visible;
   /* 2 */
}

pre {
   font-family: monospace, monospace;
   /* 1 */
   font-size: 1em;
   /* 2 */
}

a {
   background-color: transparent;
}

abbr[title] {
   border-bottom: none;
   /* 1 */
   text-decoration: underline;
   /* 2 */
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   /* 2 */
}

b,
strong {
   font-weight: bolder;
}

code,
kbd,
samp {
   font-family: monospace, monospace;
   /* 1 */
   font-size: 1em;
   /* 2 */
}

small {
   font-size: 80%;
}

sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

img {
   border-style: none;
}

button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   /* 1 */
   font-size: 100%;
   /* 1 */
   line-height: 1.15;
   /* 1 */
   margin: 0;
   /* 2 */
}

button,
input {
   /* 1 */
   overflow: visible;
}

button,
select {
   /* 1 */
   text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
}

fieldset {
   padding: 0.35em 0.75em 0.625em;
}

legend {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   /* 1 */
   color: inherit;
   /* 2 */
   display: table;
   /* 1 */
   max-width: 100%;
   /* 1 */
   padding: 0;
   /* 3 */
   white-space: normal;
   /* 1 */
}

progress {
   vertical-align: baseline;
}

textarea {
   overflow: auto;
}

[type="checkbox"],
[type="radio"] {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   /* 1 */
   padding: 0;
   /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

[type="search"] {
   -webkit-appearance: textfield;
   /* 1 */
   outline-offset: -2px;
   /* 2 */
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   -webkit-appearance: button;
   /* 1 */
   font: inherit;
   /* 2 */
}

details {
   display: block;
}

summary {
   display: list-item;
}

template {
   display: none;
}

[hidden] {
   display: none;
}

/* quicksand-regular - latin */
@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-weight: 400;
   src: url('../fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
   url('../fonts/quicksand-v30-latin-regular.woff') format('woff');
}
/* quicksand-600 - latin */
@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-weight: 600;
   src: url('../fonts/quicksand-v30-latin-600.woff2') format('woff2'),
   url('../fonts/quicksand-v30-latin-600.woff') format('woff');
}
/* quicksand-700 - latin */
@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-weight: 700;
   src: url('../fonts/quicksand-v30-latin-700.woff2') format('woff2'),
   url('../fonts/quicksand-v30-latin-700.woff') format('woff');
}

/* dm-sans-regular - latin */
@font-face {
   font-display: swap;
   font-family: 'DM Sans';
   font-weight: 400;
   src: url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
   url('../fonts/dm-sans-v11-latin-regular.woff') format('woff');
}
/* dm-sans-500 - latin */
@font-face {
   font-display: swap;
   font-family: 'DM Sans';
   font-weight: 500;
   src: url('../fonts/dm-sans-v11-latin-500.woff2') format('woff2'),
   url('../fonts/dm-sans-v11-latin-500.woff') format('woff');
}
/* dm-sans-700 - latin */
@font-face {
   font-display: swap;
   font-family: 'DM Sans';
   font-weight: 700;
   src: url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'),
   url('../fonts/dm-sans-v11-latin-700.woff') format('woff');
}

/* General codes */
html {
   height: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin: 0;
   padding: 0;
   font-size: 16px;
   background-color: #F2F4F9;
   font-family: 'Quicksand';
}

img {
   display: block;
   height: 100%;
   vertical-align: middle;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

.container {
   max-width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

.main {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

.header {
   font-family: 'DM Sans', sans-serif 
}

.header-start {
   background-color: #273142;
}

.header-tel-icon,
.header-email-icon,
.header-clock-icon {
   color: #FEA82B;
}

.header-facebook-icon:hover,
.header-twitter-icon:hover,
.header-instagram-icon:hover,
.header-youtube-icon:hover {
   color: #FEA82B;
}

.header-end {
   background-color: #263044;
}

.header-nav {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 20;
   max-width: 300px;
   width: 100%;
   height: 100vh;
   background-color: white;
}

.header-end-select {
   position: relative;
   display: inline-block;
}

.header-end-select-content {
   position: absolute;
   top: 20px;
   left: calc(50% - 80px);
   z-index: 1;
   display: none;
   min-width: 160px;
   padding: 12px 16px;
   background-color: #f9f9f9;
   -webkit-box-shadow: 0px 8px 16px 0px #00000033;
   box-shadow: 0px 8px 16px 0px #00000033;
   border-radius: 8px;
}

.header-end-select:hover .header-end-select-content {
   display: block;
}

@media only screen and (min-width: 1024px) {
   .header-end {
      background-color: transparent;
   }
   .header-nav {
      position: static !important;
      display: block !important;
      top: 0;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      height: auto;
      background-color: transparent;
      -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
      transform: translateX(0) !important;
   }
   .header-nav-item {
      border-bottom: 0 !important;
   }
}

.header-nav-close-btn {
   display: block;
   margin-top: -40px;
   margin-right: 20px;
   margin-left: auto;
}

.header-nav-item {
   padding: 15px 25px;
   border-bottom: 1px solid gray;
}

.header-menu-btn {
   font-size: 20px;
   color: #FEA82B;
}

.header-nav-link:focus {
   color: #FEA82B;
}

.header-modal-link {
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

/* Site hero styles */

.hero {
   top: 0;
   left: 0;
   z-index: -2;
   width: 100%;
   padding: 50px 0 223px;
   background-image: url("https://xido-demo.pbminfotech.com/html-demo/demo/images/internet/pattern-bg-01.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.about-card-text {
   margin-bottom: 30px;
}

.about-card {
   -webkit-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.about-card:hover {
   margin-top: -10px;
}

.marketing-card {
   max-width: 545px;
   width: 100%;
}

.marketing-card-before {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-right: 20px;
   padding: 15px 0 15px 0;
   background-color: rgb(0, 0, 40);
   border-radius: 8px;
   -webkit-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.marketing-card:hover>.marketing-card-before {
   background-color: #FEA82B;
}

.marketing-hotspot-icon {
   width: 60px;
   height: 60px;
   font-size: 45px;
   color: #ffffff;
}

.service {
   background-color: #1F273A;
}

.serivce-card {
   max-width: 307px;
   width: 100%;
}

.service-card-icon {
   font-size: 70px;
   color: #818691;
}

.strategy-value-btn {
   border-bottom: 2px solid #ffffff;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease
}

.strategy-value-btn:focus {
   border-color: #1F273A;
}

.section-mini-title {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.section-mini-title:before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 2px;
   margin-right: 10px;
   background-color: #747987;
}

/* !Package styles */

.package-mini-title::before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 2px;
   margin-right: 10px;
   background-color: #747987;
}

.package-mini-title::after {
   content: "";
   display: inline-block;
   width: 30px;
   height: 2px;
   margin-left: 10px;
   background-color: #747987;
}

/* ! Galery styles */
.galery {
   padding-top: 100px;
   padding-bottom: 270px;
   background-image: url("../images/responsive_bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.galery-list {
   position: relative;
}

.galery-xl-item {
   position: absolute;
   top: 0;
   left: calc(50% - 110px);
   max-width: 220px;
}

.galery-xl-wrapper {
   position: relative;
}

.galery-xl-images-list {
   position: absolute;
   top: 87px;
   max-width: 207px;
   width: 100%;
   margin-top: -249px;
   margin-left: 7px;
}

.xl-wifi-img {
   max-width: 207px;
   min-height: 120px;
}

.galery-lg-item {
   position: absolute;
   top: calc(50% + 110px);
   left: 10px;
   z-index: 2;
   max-width: 180px;
   width: 100%;
}

.galery-lg-wrapper {
   position: relative;
}

.galery-lg-images-list {
   position: absolute;
   top: -100px;
   max-width: 144px;
   width: 100%;
   margin-top: 3px;
   margin-left: 18px;
}

.lg-wifi-img {
   min-width: 144px;
   max-height: 87px;
}

.galery-md-item {
   display: none;
   position: absolute;
   top: calc(50% + 65px);
   left: calc(50% - 20px);
   z-index: 3;
   max-width: 119px;
   width: 100%;
}

.galery-md-wrapper {
   position: relative;
}

.ipad-img {
   max-width: 119px;
   max-height: 130px;
}

.galery-md-images-list {
   position: absolute;
   top: -111px;
   max-width: 79px;
   width: 100%;
   margin-top: -10px;
   margin-left: 9px;
}

.md-wifi-img {
   min-width: 79px;
   max-height: 112px;
}

.galery-sm-item {
   position: absolute;
   top: calc(50% + 110px);
   left: calc(50% + 62px);
   z-index: 4;
   max-width: 50px;
   width: 100%;
}

.galery-sm-wrapper {
   position: relative;
}

.galery-sm-images-list {
   position: absolute;
   top: -98px;
   max-width: 45px;
   width: 100%;
   margin-left: 3px;
}

.sm-wifi-img {
   max-width: 46px;
   min-height: 69px;
   max-height: 95px;
   border-radius: 6px;
}

@media only screen and (min-width: 375px){
   .galery-xl-item {
      left: calc(50% - 130px);
      max-width: 260px;
   }
   .galery-xl-images-list {
      top: 58px;
      max-width: 245px;
   }
   .xl-wifi-img {
      max-width: 245px;
      min-height: 141px;
   }
   .galery-lg-item {
      top: calc(50% + 90px);
      max-width: 200px;
   }
   .galery-lg-images-list {
      top: -110px;
      max-width: 159px;
      margin-top: 2px;
      margin-left: 20px;
   }
   .lg-wifi-img {
      min-width: 159px;
      max-height: 97px;
   }
   .galery-md-item {
      top: calc(50% + 80px);
      left: calc(50% - 20px);
      max-width: 100px;
   }
   
   .ipad-img {
      min-width: 100px;
      max-height: 130px;
   }
   
   .galery-md-images-list {
      top: -111px;
      max-width: 82px;
      margin-top: -10px;
      margin-left: 9px;
   }
   
   .md-wifi-img {
      min-width: 82px;
      max-height: 112px;
   }
   .galery-sm-item {
      top: calc(50% + 96px);
      left: calc(50% + 76px);
      max-width: 55px;
   }   
   .galery-sm-images-list {
      top: -107px;
      max-width: 49px;
   }
   
   .sm-wifi-img {
      min-width: 49px;
      min-height: 104px;
      max-height: 104px;
   }
}

@media only screen and (min-width: 425px){
   .galery-xl-item {
      left: calc(50% - 145px);
      max-width: 290px;
   }
   .galery-xl-images-list {
      top: 35px;
      max-width: 274px;
      margin-left: 8px;
   } 
   .xl-wifi-img {
      max-width: 274px;
      min-height: 159px;
   }
   .galery-lg-item {
      top: calc(50% + 95px);
      max-width: 230px;
   }
   .galery-lg-images-list {
      top: -126px;
      max-width: 183px;
      margin-left: 23px;
   }
   .lg-wifi-img {
      min-width: 183px;
      max-height: 111px;
   }
   .galery-md-item {
      top: calc(50% + 90px);
      left: calc(50% + 30px);
      max-width: 120px;
   }
   
   .ipad-img {
      min-width: 110px;
      max-height: 140px;
   }
   
   .galery-md-images-list {
      top: -119px;
      max-width: 90px;
      margin-left: 10px;
   }
   
   .md-wifi-img {
      min-width: 90px;
      max-height: 120px;
   }
   .galery-sm-item {
      top: calc(50% + 106px);
      left: calc(50% + 115px);
      max-width: 60px;
   }   
   .galery-sm-images-list {
      top: -117px;
      max-width: 55px;
      margin-left: 2.5px;
   }
   
   .sm-wifi-img {
      min-width: 55px;
      min-height: 113.5px;
      max-height: 113.5px;
   }
}

@media only screen and (min-width: 768px){
   .galery {
      padding-bottom: 450px;
   }
   .galery-xl-item {
      left: calc(50% - 225px);
      max-width: 450px;
   }
   .galery-xl-images-list {
      top: -82px;
      max-width: 421px;
      margin-left: 14px;
   }
   .xl-wifi-img {
      max-width: 421px;
      min-height: 245px;
   }
   .galery-lg-item {
      top: calc(50% + 120px);
      max-width: 400px;
   }
   .galery-lg-images-list {
      top: -217px;
      max-width: 319px;
      margin-left: 40px;
   }
   .lg-wifi-img {
      min-width: 319px;
      max-height: 193px;
   }
   .galery-md-item {
      display: block;
      top: calc(50% + 135px);
      left: calc(50% + 65px);
      max-width: 170px;
   }
   
   .ipad-img {
      min-width: 170px;
      max-height: 220px;
   }
   
   .galery-md-images-list {
      top: -195px;
      max-width: 137px;
      margin-left: 16.5px;
   }
   
   .md-wifi-img {
      min-width: 137px;
      max-height: 189px;
   }
   .galery-sm-item {
      top: calc(50% + 220px);
      left: calc(50% + 205px);
      max-width: 65px;
   }   
   .galery-sm-images-list {
      top: -128px;
      max-width: 60px;
      margin-left: 2.5px;
   }
   
   .sm-wifi-img {
      min-width: 60px;
      min-height: 125px;
      max-height: 125px;
      border-radius: 10px;
   }
}

@media only screen and (min-width: 1024px) {
   .galery {
      padding-bottom: 500px;
   }
   .galery-md-item {
      left: calc(50% + 160px);
   }
   .galery-sm-item {
      left: calc(50% + 295px);
   }   
}

@media only screen and (min-width: 1440px){
   .galery-lg-item {
      left: calc(50% - 500px);
   }
}

/* ! Footer styles */
.footer-email-input {
   position: relative;
   width: 100%;
   border-bottom: 1px solid #ffffff;
   outline: none;
}

.footer-email-input::after {
   position: absolute;
   top: 0;
   right: 0;
   width: 20px;
   height: 20px;
   background-image: url("../images/email-at.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.footer-end-link:before {
   content: "";
   display: inline-block;
   width: 2px;
   height: 13px;
   margin: 0 10px;
   background-color: #8F939D;
}

/* ! Modal styles */
.modal-start {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   -webkit-transform: translateY(-150%);
   -ms-transform: translateY(-150%);
   transform: translateY(-150%);
   -webkit-transition: all 0.8s ease;
   -o-transition: all 0.8s ease;
   transition: all 0.8s ease;
}

.modal-wrapper {
   width: 100vw;
   height: 100vh;
   padding-top: 100px;
   background-color: #000000b4;
}

.modal {
   max-width: 600px;
   width: 100%;
   margin: 0 auto;
   padding: 20px 40px;
   color: #000000;
   background-color: #ffffff;
   border-radius: 10px;
}

.modal-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.form-label {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-bottom: 18px;
   font-weight: 600;
}

.form-name-input {
   margin-top: 5px;
   padding: 8px 14px;
   border: 1px solid black;
   border-radius: 5px;
}

.form-select {
   margin-top: 5px;
   padding: 8px 14px;
   border: 1px solid black;
   border-radius: 5px;
}

.form-textarea {
   margin-top: 5px;
   padding: 8px 14px;
   border: 1px solid black;
   border-radius: 5px;
}

.form-btns {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-left: auto;
}

.form-cansel-btn {
   margin-right: 16px;
   padding: 8px 16px;
   color: white;
   background-color: crimson;
   border-radius: 10px;
}

.form-submit-btn {
   padding: 8px 16px;
   color: white;
   background-color: green !important;
   border-radius: 10px;
}

/* ! About page's styles */
.about-hero-link-item:not(:last-child)::after {
   content: "->";
   display: inline-block;
   color: #000000;
   margin: 0 8px;
}

/* ! Blog page's styles */
.filter-btn::before {
   content: "";
   display: inline-block;
   width: 4px;
   height: 4px;
   margin-right: 8px;
   background-color: #000;
   border-radius: 50%;
}

.filter-btn.active {
   font-size: 18px;
   color: #ea580c;
}

.blog-post:not(:last-child) {
   margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
   .blog-post:not(:last-child) {
      margin-bottom: 40px;
   }
}

@media only screen and (min-width: 1280px) {
   .blog-post:not(:last-child) {
      margin-bottom: 60px;
   }
}

.category-title::before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 2px;
   margin-right: 10px;
   background-color: #000;
}

.more-viewed-blogs:not(:last-child) {
   margin-bottom: 20px;
}

/* ! Post one styles */